data/dataset/
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt

# 忽略由 Cython 自动生成的 c 文件
utils/bbox/bbox.c
utils/bbox/nms.c

demo/output
data/res
